.navbar {
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 16px #eeeeee;
}

.nav-header {
  width: 90%;
  height: 10vh;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .nav-header {
    width: 97%;
  }
}

.restaurant-title {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .restaurant-title {
    font-size: 24px;
  }
}

.my-order-cart-details {
  display: flex;
  align-items: center;
}

.my-orders-text {
  display: none;
}

@media screen and (min-width: 768px) {
  .my-orders-text {
    display: block;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 600;
    margin-right: 16px;
  }
}

.shopping-cart-icon {
  font-size: 34px;
  color: #454242;
  position: relative;
}

@media screen and (min-width: 768px) {
  .shopping-cart-icon {
    font-size: 40px;
  }
}

.count-value {
  font-family: 'Roboto';
  font-size: 16px;
  background-color: #fc2b1c;
  color: #ffffff;
  margin: 0;
  padding-top: 1.5px;
  text-align: center;
  position: absolute;
  height: 22px;
  width: 20px;
  border-radius: 100%;
  right: 3.3%;
  top: 1.3%;
}

@media screen and (min-width: 576px) {
  .count-value {
    right: 4.2%;
  }
}

@media screen and (min-width: 768px) {
  .count-value {
    padding-top: 2.5px;
    height: 24px;
    width: 22px;
    right: 0.8%;
    top: 0.7%;
  }
}

@media screen and (min-width: 992px) {
  .count-value {
    right: 0.7%;
  }
}

@media screen and (min-width: 1200px) {
  .count-value {
    right: 1.1%;
    top: 0.8%;
  }
}
